.Menu > div > button:hover{
    animation: border-rotate 5s forwards;
}

/* border animation */
@keyframes border-rotate {
    0% {
        border-top-color: #222;
        border-right-color: #222;
        border-bottom-color: #222;
        border-left-color: #222;
    }

    3% {
        border-top-color: grey;
        border-right-color: #222;
        border-bottom-color: #222;
        border-left-color: #222;
    }

    6% {
        border-top-color: #222;
        border-right-color: grey;
        border-bottom-color: #222;
        border-left-color: #222;
    }

    12% {
        border-top-color: #222;
        border-right-color: #222;
        border-bottom-color: grey;
        border-left-color: #222;
    }

    15% {
        border-top-color: #222;
        border-right-color: #222;
        border-bottom-color: #222;
        border-left-color: grey;
    }

    18% {
        border-top-color: #222;
        border-right-color: #222;
        border-bottom-color: #222;
        border-left-color: #222;
    }
}

@keyframes border-fill {
    0% {
        border-top-color: #222;
        border-right-color: #222;
        border-bottom-color: #222;
        border-left-color: #222;
    }

    3% {
        border-top-color: grey;
        border-right-color: #222;
        border-bottom-color: #222;
        border-left-color: #222;
    }

    6% {
        border-top-color: grey;
        border-right-color: grey;
        border-bottom-color: #222;
        border-left-color: #222;
    }

    12% {
        border-top-color: grey;
        border-right-color: grey;
        border-bottom-color: grey;
        border-left-color: #222;
    }

    15% {
        border-top-color: grey;
        border-right-color: grey;
        border-bottom-color: grey;
        border-left-color: grey;
    }
}


.slideDown {
    overflow: hidden;
    animation: slide-down 0.5s ease-in;
}

@keyframes slide-down {
    0% { 
        max-height: 0;
        opacity: 0;
        overflow-y: hidden;
    }
    100% { 
        opacity: 1;
        max-height: 800px;
        overflow-y: hidden;
     }   
}

.collapsed {
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
    transition: all 0.3s ease-in-out;
}

.expanded {
    max-height: 500px;
    opacity: 1;
    overflow-y: hidden;
    transition: all 0.5s ease-in-out;
}