body {
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: "neue-kabel",sans-serif;
}
.logo, .logo-dark {
    width: 10em;
}

.App {
    max-width: 42em !important;
}

.Footer img {
    width: 2em;
}